[Unit]
Description=Gunicorn instance to serve rent_buy
After=network.target

[Service]
User=ewurch
Group=www-data
WorkingDirectory=/home/ewurch/Rent_or_Buy
Environment="PATH=/home/ewurch/Rent_or_Buy/venv/bin"
ExecStart=/home/ewurch/Rent_or_Buy/venv/bin/gunicorn --workers 3 --bind unix:rent_buy.sock -m 007 run:app

[Install]
WantedBy=multi-user.target
~                           
