{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Sobre</h1>
		<p class="lead">Esse site é um projeto open source e foi criado com o objetivo de facilitar a o planejamento das famílias e indivíduos, vivemos ainda numa fantasia de que somos obrigados a finaciar um imóvel isso não faz mais sentido (não financeiramente).</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
